<h2 class="mt-2">Inputs :</h2>

<p>Filters :
  <button class="btn btn-sm btn-info" (click)="disabled = !disabled">Toggle Disabled</button>
  <button class="btn btn-sm btn-info ml-2" (click)="toggleAllCodes()">Toggle all code</button></p>

<form fuiForm highlightChildren class="col-6">
  <h5 class="mt-3">No label, no wrapper :</h5>
  <input fuiInput name="one" [(ngModel)]="inputs.one"/>
  <button class="btn btn-link pl-0" (click)="example1 = !example1">{{ example1 ? 'Hide code' : 'View code'}}</button>
  <pre *ngIf="example1"><code [highlight]="code1"></code></pre>

  <h5 class="mt-3">No label, wrapper :</h5>
  <fui-input-container>
    <input fuiInput name="two" [(ngModel)]="inputs.two"/>
  </fui-input-container>
  <button class="btn btn-link pl-0" (click)="example2 = !example2">{{ example2 ? 'Hide code' : 'View code'}}</button>
  <pre *ngIf="example2"><code [highlight]="code2"></code></pre>

  <h5 class="mt-3">Label, wrapper and <span class="text-danger">required</span> validator :</h5>
  <fui-input-container>
    <label>Full example</label>
    <input fuiInput name="three" [(ngModel)]="inputs.three" required/>
    <fui-control-error>There was an error</fui-control-error>
  </fui-input-container>
  <button class="btn btn-link pl-0" (click)="example3 = !example3">{{ example3 ? 'Hide code' : 'View code'}}</button>
  <pre *ngIf="example3"><code [highlight]="code3"></code></pre>

  <h5 class="mt-3">Label, wrapper, <span class="text-danger">required</span> validator but <span class="text-danger">disabled</span> :</h5>
  <fui-input-container>
    <label>Full example (disabled)</label>
    <input fuiInput name="four" [(ngModel)]="inputs.four" required [disabled]="disabled"/>
    <fui-control-error>This field is required</fui-control-error>
  </fui-input-container>
  <button class="btn btn-link pl-0" (click)="example4 = !example4">{{ example4 ? 'Hide code' : 'View code'}}</button>
  <pre *ngIf="example4"><code [highlight]="code4"></code></pre>

  <h5 class="mt-3">Label, wrapper, <span class="text-danger">required</span> validator, disabled and filled :</h5>
  <fui-input-container>
    <label>Full example (disabled, filled)</label>
    <input fuiInput name="five" [(ngModel)]="inputs.five" required [disabled]="disabled"/>
    <fui-control-error>This field is required</fui-control-error>
  </fui-input-container>
  <button class="btn btn-link pl-0" (click)="example5 = !example5">{{ example5 ? 'Hide code' : 'View code'}}</button>
  <pre *ngIf="example5"><code [highlight]="code5"></code></pre>

  <h5 class="mt-3">Multiple validators</h5>
  <fui-input-container>
    <label>Full example (multiple validators)</label>
    <input fuiInput name="six" [(ngModel)]="inputs.six" required email/>
    <fui-control-error *fuiIfError="'required'">This field is required</fui-control-error>
    <fui-control-error *fuiIfError="'email'">You didn't type an email address</fui-control-error>
  </fui-input-container>
  <button class="btn btn-link pl-0" (click)="example6 = !example6">{{ example6 ? 'Hide code' : 'View code'}}</button>
  <pre *ngIf="example6"><code [highlight]="code6"></code></pre>

</form>
