// SVG icon set font for forms elements.
// With some of our custom components we need to load SVG icons in full css, so we can't use our ferui-icons project.
// For instance : the checkbox icon as well as the icons for selects (arrow + clean icon).
@import 'variables/default.scss';

@font-face {
  font-family: 'ferui-design-icons';
  src: url('#{$fui-font-path}/ferui-design-icons/ferui-design-icons.eot');
  src: url('#{$fui-font-path}/ferui-design-icons/ferui-design-icons.eot?#iefix') format('embedded-opentype'),
    url('#{$fui-font-path}/ferui-design-icons/ferui-design-icons.woff') format('woff'),
    url('#{$fui-font-path}/ferui-design-icons/ferui-design-icons.ttf') format('truetype'),
    url('#{$fui-font-path}/ferui-design-icons/ferui-design-icons.svg#ferui-design-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
