// This font is specific for Zingchart bold font.
@font-face {
  font-family: "Roboto-medium";
  src: url("../fonts/Medium/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Medium/Roboto-Medium.woff") format("woff"),
  url("../fonts/Medium/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Thin/Roboto-Thin.woff2") format("woff2"),
  url("../fonts/Thin/Roboto-Thin.woff") format("woff"),
  url("../fonts/Thin/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* END Thin */
/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/ThinItalic/Roboto-ThinItalic.woff2") format("woff2"),
  url("../fonts/ThinItalic/Roboto-ThinItalic.woff") format("woff"),
  url("../fonts/ThinItalic/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* END Thin Italic */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Light/Roboto-Light.woff2") format("woff2"),
  url("../fonts/Light/Roboto-Light.woff") format("woff"),
  url("../fonts/Light/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/LightItalic/Roboto-LightItalic.woff2") format("woff2"),
  url("../fonts/LightItalic/Roboto-LightItalic.woff") format("woff"),
  url("../fonts/LightItalic/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Regular/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Regular/Roboto-Regular.woff") format("woff"),
  url("../fonts/Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Regular/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Regular/Roboto-Regular.woff") format("woff"),
  url("../fonts/Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Italic/Roboto-Italic.woff2") format("woff2"),
  url("../fonts/Italic/Roboto-Italic.woff") format("woff"),
  url("../fonts/Italic/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Italic/Roboto-Italic.woff2") format("woff2"),
  url("../fonts/Italic/Roboto-Italic.woff") format("woff"),
  url("../fonts/Italic/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Medium/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Medium/Roboto-Medium.woff") format("woff"),
  url("../fonts/Medium/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/MediumItalic/Roboto-MediumItalic.woff2") format("woff2"),
  url("../fonts/MediumItalic/Roboto-MediumItalic.woff") format("woff"),
  url("../fonts/MediumItalic/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Bold/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Bold/Roboto-Bold.woff") format("woff"),
  url("../fonts/Bold/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Bold/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Bold/Roboto-Bold.woff") format("woff"),
  url("../fonts/Bold/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/BoldItalic/Roboto-BoldItalic.woff2") format("woff2"),
  url("../fonts/BoldItalic/Roboto-BoldItalic.woff") format("woff"),
  url("../fonts/BoldItalic/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/BoldItalic/Roboto-BoldItalic.woff2") format("woff2"),
  url("../fonts/BoldItalic/Roboto-BoldItalic.woff") format("woff"),
  url("../fonts/BoldItalic/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Black/Roboto-Black.woff2") format("woff2"),
  url("../fonts/Black/Roboto-Black.woff") format("woff"),
  url("../fonts/Black/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/BlackItalic/Roboto-BlackItalic.woff2") format("woff2"),
  url("../fonts/BlackItalic/Roboto-BlackItalic.woff") format("woff"),
  url("../fonts/BlackItalic/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* END Black Italic */
