html {
  //  We set the default font-size to let the rem working the same everywhere.
  font-size: 14px;
}

* {
  outline: none !important;
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 3px;
  border: 1px solid $gray-300;
}
