// Color override
$blue: #03A6FF;
$red: #ed5151;
$yellow: #FADD56;
$green: #13CE66;
$orange: #f89412;

$gray-100: #f5f8f9;
$gray-200: #f1f7fb;
$gray-300: #e5eaee;
$gray-400: #ced6dd;
$gray-500: #87a1b5;
$gray-600: #353f4e;
$gray-700: #343b4e;
$gray-800: #242a3b;
$gray-900: #252a3a;
$gray-1000: #191c28;

$grays: ("1000": $gray-1000);

$colors: (
  "gray": $gray-500,
  "gray-dark": $gray-900
);

$secondary: $gray-500;
$dark: $gray-900;
$light: $gray-300;

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;

$font-family-sans-serif:  Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif;

// Import Bootstrap default variables
@import "../../../node_modules/bootstrap/scss/variables";
