@charset "UTF-8";

@font-face {
  font-family: 'iland-cloud-font-v4';
  src: url('fonts/iland-cloud-font-v4.eot');
  src: url('fonts/iland-cloud-font-v4.eot?#iefix') format('embedded-opentype'),
    url('fonts/iland-cloud-font-v4.woff') format('woff'), url('fonts/iland-cloud-font-v4.ttf') format('truetype'),
    url('fonts/iland-cloud-font-v4.svg#iland-cloud-font-v4') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'iland-cloud-font-v4' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'iland-cloud-font-v4' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: '\61';
}
.icon-arrow:before {
  content: '\62';
}
.icon-arrow-last:before {
  content: '\63';
}
.icon-arrowfields:before {
  content: '\64';
}
.icon-burgermenu:before {
  content: '\65';
}
.icon-calendar:before {
  content: '\66';
}
.icon-close:before {
  content: '\67';
}
.icon-columns:before {
  content: '\68';
}
.icon-copy:before {
  content: '\69';
}
.icon-detach:before {
  content: '\6a';
}
.icon-download:before {
  content: '\6b';
}
.icon-dragdrop:before {
  content: '\6c';
}
.icon-empty:before {
  content: '\6d';
}
.icon-emptyprofilepic:before {
  content: '\6e';
}
.icon-error:before {
  content: '\6f';
}
.icon-folder-close:before {
  content: '\71';
}
.icon-folder-open:before {
  content: '\72';
}
.icon-help:before {
  content: '\73';
}
.icon-inbox-down:before {
  content: '\74';
}
.icon-inbox-up:before {
  content: '\75';
}
.icon-layers:before {
  content: '\76';
}
.icon-less:before {
  content: '\77';
}
.icon-mainnav-billing:before {
  content: '\78';
}
.icon-mainnav-catalogs:before {
  content: '\79';
}
.icon-mainnav-continuity:before {
  content: '\7a';
}
.icon-mainnav-dashboard:before {
  content: '\41';
}
.icon-mainnav-security:before {
  content: '\43';
}
.icon-message:before {
  content: '\44';
}
.icon-paste:before {
  content: '\46';
}
.icon-plus:before {
  content: '\47';
}
.icon-reverse:before {
  content: '\48';
}
.icon-rotate:before {
  content: '\49';
}
.icon-screenshot:before {
  content: '\4a';
}
.icon-search:before {
  content: '\4b';
}
.icon-selectmode:before {
  content: '\4d';
}
.icon-settings:before {
  content: '\4e';
}
.icon-spinner:before {
  content: '\4f';
}
.icon-supporticon-black:before {
  content: '\50';
}
.icon-tick:before {
  content: '\51';
}
.icon-trash:before {
  content: '\52';
}
.icon-view-list:before {
  content: '\53';
}
.icon-view-off:before {
  content: '\54';
}
.icon-view-on:before {
  content: '\55';
}
.icon-view-tree:before {
  content: '\56';
}
.icon-zoomout:before {
  content: '\57';
}
.icon-more:before {
  content: '\45';
}
.icon-send:before {
  content: '\58';
}
.icon-activetask:before {
  content: '\59';
}
.icon-chat:before {
  content: '\5a';
}
.icon-expand:before {
  content: '\70';
}
.icon-mainnav-networking:before {
  content: '\42';
}
.icon-search-arrow:before {
  content: '\4c';
}
.icon-backupicon:before {
  content: '\30';
}
.icon-breadcrumb:before {
  content: '\31';
}
.icon-location:before {
  content: '\32';
}
