@import '../_variables.scss';
@import '../_mixins.scss';

@include exports('commons') {
  .fui-input-group-icon-action {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.0714rem;
    fill: $gray-500;
    z-index: $zindex-dropdown;
    width: 18px;
    height: 18px;
    margin-top: -0.625rem;
    cursor: pointer;
  }

  .fui-form-control {
    display: block;
    position: relative;
    margin: 0.9375rem 0 auto;
    width: 100%;
    height: auto;

    .fui-control-container {
      .fui-control-icons {
        position: absolute;
        top: $controls-padding;
        right: 1.0714rem;
        width: auto;
        max-height: 18px;
        max-width: 18px;
        margin-top: 0;
        display: block;
        text-align: right;
        cursor: pointer;
      }

      *:not(.fui-checkbox-wrapper):not(.fui-radio-wrapper) {
        .fui-control-label:not(.fui-control-icons) {
          @include control-label();
        }
      }

      > *:not(.fui-checkbox-subtext-wrapper):not(.fui-radio-subtext-wrapper) {
        .fui-control-icons {
          > .fui-validate-icon,
          > .fui-error-icon {
            display: inline-block;
            vertical-align: top;
            position: relative;
            fill: $gray-500;
            z-index: $zindex-dropdown;
          }

          > .fui-validate-icon {
            width: 14px;
            height: 14px;
            margin-top: 0.125rem;
          }

          > .fui-error-icon {
            width: 18px;
            height: 18px;
            fill: $red;
          }

          &:hover ~ .fui-subtext-wrapper {
            .fui-subtext:first-child {
              visibility: visible;
              opacity: 1;
              transition-delay: 0s;
            }
          }
        }

        .fui-subtext {
          display: block;
          position: absolute;
          z-index: $zindex-tooltip;
          padding: 0.3571rem 0.5714rem;
          background-color: $red;
          font-size: $font-size-base;
          font-weight: $font-weight-normal;
          color: $white;
          @include border-radius(3px);
          bottom: calc(100% - 5px);
          right: 0;

          visibility: hidden;
          opacity: 0;
          transition: visibility 0s ease 0.2s, opacity 0.2s ease;

          &::after {
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 0;
            z-index: 1;
            right: 1.25rem;
            bottom: 0;
            margin: 0 0 -0.4286rem -0.4286rem;
            border-left: 0.4286rem solid transparent;
            border-right: 0.4286rem solid transparent;
            border-top: 0.4286rem solid $red;
          }
        }
      }

      &:not(.fui-empty):not(.fui-no-label) {
        *:not(.fui-checkbox-wrapper):not(.fui-radio-wrapper) {
          .fui-control-label:not(.fui-control-icons) {
            @include control-label-selected();
          }
        }
      }
    }
  }
}
