@import '../_variables.scss';
@import '../_mixins.scss';

@include exports('forms.inputs') {
  .fui-form-control {
    .fui-control-container {
      .fui-input-wrapper {
        input:not([type='checkbox']):not([type='radio']) {
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 100%;
          border: 1px solid $gray-300;
          font-family: inherit;
          padding: $controls-padding 3rem $controls-padding $controls-padding;
          height: 50px;
          font-size: $font-size-base;
          font-weight: $font-weight-bold;
          background: none;
          color: $gray-900;
          @include controls-transitions();
          @include border-radius(3px);
          @include no-placeholder();

          &:focus {
            border-color: $gray-500;
          }

          &[disabled] {
            background-color: $gray-200;
            color: $gray-500;
          }
        }

        input[type='password'] {
          font-size: $font-size-lg !important;
          font-weight: $font-weight-bolder !important;
        }
      }

      &:not(.fui-empty):not(.fui-no-label) {
        .fui-input-wrapper {
          input:not([type='checkbox']):not([type='radio']) {
            padding: $controls-padding 3rem 0 $controls-padding !important;
          }
        }
      }

      &:not(.fui-empty) {
        .fui-input-group-icon-action {
          right: 2.6964rem;
        }
      }

      &.fui-touched,
      &.fui-dirty {
        .fui-input-wrapper {
          .fui-input-group-icon-action {
            right: 2.6964rem;
          }
          input:not([type='checkbox']):not([type='radio']) {
            &:focus {
              ~ .fui-subtext-wrapper {
                .fui-subtext:first-child {
                  visibility: visible;
                  opacity: 1;
                  transition-delay: 0s;
                }
              }
            }
          }
        }
      }
    }
  }
}
