@import '../_variables.scss';
@import '../_mixins.scss';

@include exports('forms.selects') {
  .fui-control-container {
    &:not(.fui-empty):not(.fui-no-label) {
      .fui-select-wrapper {
        select {
          padding: $controls-padding 3rem 0 $controls-padding !important;
        }
      }
    }

    &.fui-touched,
    &.fui-dirty {
      .fui-select-wrapper {
        select {
          &:focus {
            ~ .fui-subtext-wrapper {
              .fui-subtext:first-child {
                visibility: visible;
                opacity: 1;
                transition-delay: 0s;
              }
            }
          }
        }
      }
    }

    .fui-select-wrapper {
      position: relative;

      .fui-control-icons {
        right: calc((#{$controls-padding} * 2) + #{$select-arrow-size}) !important;
      }

      .fui-control-label {
        display: none;
      }

      .select-arrow {
        display: none;
        z-index: $zindex-label;

        &::after {
          pointer-events: none;
          position: absolute;
          right: $controls-padding;
          top: 50%;
          margin-top: -0.28125rem;
          color: $gray-500;
          @include font-icon($icon-content-arrow, $select-arrow-size);
          transform: rotate(90deg);
        }
      }

      select {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        border: 1px solid $gray-300;
        font-family: inherit;
        padding: $controls-padding 3rem $controls-padding $controls-padding;
        height: $default-control-height;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        background: none;
        color: $gray-900;
        @include controls-transitions();
        @include border-radius(3px);
        @include no-placeholder();

        &:focus {
          border-color: $gray-500;

          ~ .fui-subtext-wrapper {
            .fui-subtext {
              visibility: visible !important;
              opacity: 1 !important;
              transition-delay: 0s !important;
            }
          }
        }

        &[disabled] {
          background-color: $gray-200;
          color: $gray-500;
        }

        & ~ .select-arrow {
          display: block;
        }

        & ~ .fui-control-label:not(.fui-control-icons) {
          display: block;
        }
      }

      .fui-subtext {
        &::after {
          right: calc(
            ((#{$controls-padding} * 2) + #{$select-arrow-size} + (#{$controls-icons-max-width} / 2)) - #{$fui-subtext-arrow-width}
          ) !important;
        }
      }
    }

    &.fui-error:not(.fui-empty) {
      .ng-select {
        .ng-clear-wrapper {
          margin-right: calc(((#{$controls-padding} * 2) + #{$controls-icons-max-width}) - 0.09375rem) !important;
        }
      }
    }

    &:not(.fui-empty):not(.fui-error) {
      .ng-select {
        .ng-clear-wrapper {
          margin-right: calc(((#{$controls-padding} * 2) + #{$controls-icons-min-width}) - 0.09375rem) !important;
        }
      }
    }
  }

  .ng-select {
    &.ng-select-opened {
      > .ng-select-container {
        background: $white;
        border-color: $gray-500;

        .ng-arrow {
          &::after {
            transform: rotate(-90deg);
          }
        }
      }

      &.ng-select-bottom {
        > .ng-select-container {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &.ng-select-top {
        > .ng-select-container {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }

    &.ng-select-focused {
      &:not(.ng-select-opened) > .ng-select-container {
        border-color: $gray-500;
      }
    }

    &.ng-select-disabled {
      > .ng-select-container {
        background-color: $gray-200;
      }
    }

    &.ng-select-filtered,
    .ng-has-value {
      .ng-placeholder {
        @include control-label-selected();
      }

      .ng-value {
        margin: calc(#{$controls-padding} + 3px) 0 0;
      }

      .ng-input {
        > input {
          padding: 1.91667rem 5rem 0.9rem $controls-padding !important;
        }
      }
    }

    .ng-select-container {
      background-color: $white;
      border-radius: $default-radius-value;
      border: 1px solid $gray-300;
      min-height: $default-control-height;
      height: $default-control-height;
      align-items: center;

      .ng-value-container {
        align-items: center;
        padding: 0 $controls-padding;

        .ng-placeholder {
          @include control-label();
        }

        .ng-value {
          font-size: $font-size-base;
          font-weight: $font-weight-bold;
          background: none;
          color: $gray-900;
          padding: 0;
        }
      }
    }

    &.ng-select-single {
      .ng-select-container {
        height: $default-control-height;

        .ng-value-container {
          .ng-input {
            top: 0;
            left: 0;

            > input {
              box-sizing: border-box !important;
              padding: 1.3335rem 3rem 1.3335rem $controls-padding;
              height: $default-control-height;
            }
          }
        }
      }
    }

    &.ng-select-multiple {
      &.ng-select-disabled {
        > .ng-select-container .ng-value-container .ng-value {
          background-color: $gray-200;
          border: 1px solid #e3e3e3;

          .ng-value-label {
            padding: 0 5px 0 0;
          }
        }
      }

      .ng-select-container {
        .ng-value-container {
          padding-top: 5px;
          padding-left: 0;

          .ng-value {
            font-size: 0.9em;
            margin-bottom: 5px;
            background-color: $color-selected;
            border-radius: $default-radius-value;
            border: 1px solid #c2e0ff;
            margin-right: 5px;

            &.ng-value-disabled {
              background-color: $gray-200;
              border: 1px solid #e3e3e3;

              .ng-value-label {
                padding-left: 0;
              }
            }

            .ng-value-label {
              display: inline-block;
              padding: 0 5px 0 0;
            }

            .ng-value-icon {
              display: inline-block;
              padding: 0 5px;

              &:hover {
                background-color: #d8eafd;
              }

              &.left {
                border-right: 1px solid #c2e0ff;
              }

              &.right {
                border-left: 1px solid #c2e0ff;
              }
            }
          }

          .ng-input {
            padding: 1.91667rem 3rem 0.9rem $controls-padding;
            height: $default-control-height;
          }
        }
      }
    }

    .ng-clear-wrapper {
      color: $gray-500;
      margin-right: 2.1875rem;
      width: $select-clear-size !important;
      height: $select-clear-size !important;

      &::after {
        @include font-icon($icon-content-clean, $select-clear-size);
      }

      .ng-clear {
        display: none !important;
      }

      &:hover {
        &::after {
          color: $gray-900;
        }
      }
    }

    .ng-spinner-zone {
      padding: 5px 5px 0 0;
    }

    .ng-arrow-wrapper {
      width: auto;
      height: $select-arrow-size;
      padding: 0 $controls-padding 0 0;

      .ng-arrow {
        width: $select-arrow-size !important;
        height: $select-arrow-size !important;

        &::after {
          display: inline-block;
          color: $gray-500;
          @include font-icon($icon-content-arrow, $select-arrow-size);
          vertical-align: top;
          transform: rotate(90deg);
        }
      }
    }

    &.ng-select-focused,
    &.ng-select-opened {
      ~ .fui-subtext-wrapper {
        .fui-subtext {
          visibility: visible !important;
          opacity: 1 !important;
          transition-delay: 0s !important;
        }
      }
    }
  }

  .ng-dropdown-panel {
    background-color: $white;
    border: 1px solid $gray-500;
    left: 0;

    &.ng-select-bottom {
      top: 100%;
      border-bottom-right-radius: $default-radius-value;
      border-bottom-left-radius: $default-radius-value;
      border-top-color: $gray-300;
      margin-top: -1px;

      .ng-dropdown-panel-items {
        .ng-option {
          &:last-child {
            border-bottom-right-radius: $default-radius-value;
            border-bottom-left-radius: $default-radius-value;
          }
        }
      }
    }

    &.ng-select-top {
      bottom: 100%;
      border-top-right-radius: $default-radius-value;
      border-top-left-radius: $default-radius-value;
      border-bottom-color: $gray-300;
      margin-bottom: -1px;

      .ng-dropdown-panel-items {
        .ng-option {
          &:first-child {
            border-top-right-radius: $default-radius-value;
            border-top-left-radius: $default-radius-value;
          }
        }
      }
    }

    .ng-dropdown-header {
      border-bottom: 1px solid $gray-300;
      padding: 5px 7px;
    }

    .ng-dropdown-footer {
      border-top: 1px solid $gray-300;
      padding: 5px 7px;
    }

    .ng-dropdown-panel-items {
      margin-bottom: 1px;
      padding: 10px 0;

      .ng-optgroup {
        user-select: none;
        padding: 8px 10px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
        cursor: pointer;

        &.ng-option-disabled {
          // TODO make a mixin for this.
          background-color: $white;
          cursor: default !important;
          color: $disabled;

          .ng-option-label {
            background-color: inherit !important;
            cursor: default !important;
            color: $disabled;
          }
        }

        &.ng-option-marked {
          .ng-option-label {
            background-color: $primary;
          }
        }

        &.ng-option-selected {
          background-color: $color-selected;
          font-weight: 600;
        }
      }

      .ng-option {
        background-color: $white;
        color: $gray-900;
        padding: 2px 0.625rem;
        margin: 0 10px;
        border-radius: $default-radius-value;

        .ng-option-label {
          padding: 3px 0;
          display: inline-block;
          width: 100%;
          border-radius: $default-radius-value;
          color: $gray-900;
        }

        &:hover {
          background-color: $white;

          .ng-option-label {
            background-color: $gray-300;
          }
        }

        &.ng-option-selected {
          background-color: $color-selected !important;
          color: $white;

          .ng-option-label {
            background-color: $primary;
            color: $white;
          }
        }

        &.ng-option-marked {
          background-color: $gray-300;
        }

        &.ng-option-disabled {
          background-color: $white;
          cursor: default !important;
          color: $disabled;

          .ng-option-label {
            background-color: inherit !important;
            cursor: default !important;
            color: $disabled;
          }
        }

        &.ng-option-child {
          padding-left: 22px;
        }

        .ng-tag-label {
          font-size: 80%;
          font-weight: 400;
          padding-right: 5px;
        }
      }
    }
  }
}
