$fui-dropdown-caret-icon-dimension: 0.5625rem;

$fui-dropdown-active-text-color: $white;
$fui-dropdown-caret-left-margin: 0.083333rem;
$fui-dropdown-bg-color: $white;
$fui-dropdown-text-color: $gray-900;
$fui-dropdown-item-text-color: $gray-900;
$fui-dropdown-item-disabled-text-color: $gray-500;
$fui-dropdown-border-color: $gray-300;
$fui-dropdown-divider-color: $gray-300;
$fui-dropdown-child-border-color: $gray-300;
$fui-dropdown-bg-hover-color: $gray-300;
$fui-dropdown-selection-color: $blue;
$fui-dropdown-box-shadow: rgba(54, 71, 82, 0.12);
$fui-dropdown-header-color: $gray-500;
