<header class="navbar navbar-expand flex-column flex-md-row fui-navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand mr-0 mr-md-2" href="/#">FerUI</a>

  <div class="mt-1">
    <span>
      <a
        class="github-button"
        href="https://github.com/ilanddev/ferui/archive/master.zip"
        data-color-scheme="no-preference: light; light: light; dark: light;"
        aria-label="Download ilanddev/ferui on GitHub"
        >Download</a
      >
    </span>
    <span class="ml-2">
      <a
        class="github-button"
        href="https://github.com/ilanddev/ferui"
        data-color-scheme="no-preference: light; light: light; dark: light;"
        data-show-count="true"
        aria-label="Star ilanddev/ferui on GitHub"
        >Star</a
      >
    </span>
  </div>
</header>
<my-app-content-container class="content-container"></my-app-content-container>
