<div class="container-fluid">
  <div class="row row flex-xl-nowrap">
    <div class="col-xl-2 p-0 fui-sidebar">
      <form class="fui-search p-3 d-flex align-items-center">
        <input type="text" placeholder="Search..."/>
      </form>
      <nav class="collapse">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let route of routes">
            <a *ngIf="route.path !== ''" class="nav-link" [routerLink]="[route.path]"
               [routerLinkActive]="['active']">{{route.path}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <main class="col-10 bd-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
