<div class="container-fluid">
  <div class="row row flex-xl-nowrap">
    <div class="col-sm-12 col-md-12 col-xl-2 col-lg-2 p-0 fui-sidebar">
      <form class="fui-search p-3 d-flex align-items-center">
        <input name="globalSearch" type="text" placeholder="Search..." ngModel />
      </form>

      <nav class="demo-sidebar-menu">
        <ul class="nav nav-pills flex-lg-column flex-xl-column">
          <ng-template #recursiveList let-list let-path="basePath">
            <li class="nav-item" *ngFor="let item of list" [hidden]="item.path === ''">
              <a
                *ngIf="item.path !== ''"
                class="nav-link"
                [routerLink]="[path + '/' + item.path]"
                [routerLinkActive]="['active']"
                >{{ item.path }}</a
              >

              <ul *ngIf="item.children && item.children.length > 0">
                <ng-container
                  [ngTemplateOutlet]="recursiveList"
                  [ngTemplateOutletContext]="{ $implicit: item.children, basePath: path + '/' + item.path }"
                ></ng-container>
              </ul>
            </li>
          </ng-template>
          <ng-container
            [ngTemplateOutlet]="recursiveList"
            [ngTemplateOutletContext]="{ $implicit: routes, basePath: '' }"
          ></ng-container>
        </ul>
      </nav>
    </div>
    <main class="col-xl-10 col-lg-10 col-md-12 col-sm-12 bd-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
