$ferui-icon-size: 16px;
$ferui-icon-color-success: #318700;
$ferui-icon-color-danger: #e12200;
$ferui-icon-color-warning: #fac400;
$ferui-icon-color-error: #e12200;
$ferui-icon-color-info: #0079b8;
$ferui-icon-color-inverse: #ffffff;
$ferui-icon-color-highlight: #0079b8;
@mixin setIconColor($ferui-icon-color) {
  fill: $ferui-icon-color;
  .transparent-fill-stroke {
    stroke: $ferui-icon-color;
  }
}

@mixin rotateSVGIcon($deg) {
  svg {
    transform: rotate($deg);
  }
}

@mixin flipSVGIcon($direction) {
  @if $direction == 'horizontal' {
    svg {
      transform: scale(-1) rotateX(180deg);
    }
  } @else if $direction == 'vertical' {
    svg {
      transform: scale(-1) rotateY(180deg);
    }
  }
}

ferui-icon {
  display: inline-block;
  margin: 0;
  height: $ferui-icon-size;
  width: $ferui-icon-size;
  vertical-align: middle;
  @include setIconColor(currentColor);
  &.is-green,
  &.is-success {
    @include setIconColor($ferui-icon-color-success);
  }
  &.is-red,
  &.is-danger,
  &.is-error {
    @include setIconColor($ferui-icon-color-error);
  }
  &.is-warning {
    @include setIconColor($ferui-icon-color-warning);
  }
  &.is-blue,
  &.is-info {
    @include setIconColor($ferui-icon-color-info);
  }
  &.is-white,
  &.is-inverse {
    @include setIconColor($ferui-icon-color-inverse);
  }
  &.is-highlight {
    @include setIconColor($ferui-icon-color-highlight);
  }
  &[shape$=' up'],
  &[dir='up'] {
    @include rotateSVGIcon(0deg);
  }
  &[shape$=' down'],
  &[dir='down'] {
    @include rotateSVGIcon(180deg);
  }
  &[shape$=' right'],
  &[dir='right'] {
    @include rotateSVGIcon(90deg);
  }
  &[shape$=' left'],
  &[dir='left'] {
    @include rotateSVGIcon(270deg);
  }
  &[flip='horizontal'] {
    @include flipSVGIcon('horizontal');
  }
  &[flip='vertical'] {
    @include flipSVGIcon('vertical');
  }
  .ferui-i-badge {
    @include setIconColor($ferui-icon-color-danger);
  }
  & > * {
    height: 100%;
    width: 100%;
    display: block;
    pointer-events: none;
  }
  & > svg {
    transition: inherit;
    title {
      display: none;
    }
  }
  .ferui-i-solid,
  .ferui-i-solid--badged,
  .ferui-i-solid--alerted {
    display: none;
  }
  .ferui-i-outline--alerted,
  .ferui-i-outline--badged {
    &:not(.ferui-i-outline) {
      display: none;
    }
  }
  &[class*='has-alert'] .can-alert {
    .ferui-i-outline--alerted {
      display: block;
    }
    .ferui-i-outline:not(.ferui-i-outline--alerted) {
      display: none;
    }
  }
  &[class*='has-badge'] .can-badge {
    .ferui-i-outline--badged {
      display: block;
    }
    .ferui-i-outline:not(.ferui-i-outline--badged) {
      display: none;
    }
  }
  &.is-solid .has-solid {
    .ferui-i-solid {
      display: block;
    }
    .ferui-i-outline,
    .ferui-i-outline--badged {
      display: none;
    }
    .ferui-i-solid--alerted,
    .ferui-i-solid--badged {
      &:not(.ferui-i-solid) {
        display: none;
      }
    }
  }
  &.is-solid[class*='has-badge'] .can-badge.has-solid {
    .ferui-i-solid--badged {
      display: block;
    }
    .ferui-i-outline,
    .ferui-i-outline--badged,
    .ferui-i-solid:not(.ferui-i-solid--badged) {
      display: none;
    }
  }
  &.is-solid[class*='has-alert'] .can-alert.has-solid {
    .ferui-i-solid--alerted {
      display: block;
    }
    .ferui-i-outline,
    .ferui-i-outline--alerted,
    .ferui-i-solid:not(.ferui-i-solid--alerted) {
      display: none;
    }
  }
  &.has-badge--success {
    .ferui-i-badge {
      @include setIconColor($ferui-icon-color-success);
    }
  }
  &.has-badge--error {
    .ferui-i-badge {
      @include setIconColor($ferui-icon-color-error);
    }
  }
  &.has-badge--info {
    .ferui-i-badge {
      @include setIconColor($ferui-icon-color-info);
    }
  }
  &.has-alert {
    .ferui-i-alert {
      @include setIconColor($ferui-icon-color-warning);
    }
  }
  .is-off-screen {
    position: fixed !important;
    border: none !important;
    height: 1px !important;
    width: 1px !important;

    left: 0 !important;
    top: -1px !important;

    overflow: hidden !important;

    padding: 0 !important;
    margin: 0 0 -1px 0 !important;
  }
}
