<h1></h1>

<h2>List of all icons</h2>
<br>
<h4>Filters :</h4>
<label>
  Color :
  <span class="bg-color" [ngStyle]="{'background-color': iconsColor }">#</span><input maxlength="6" placeholder="Choose an Hex color without #..." type="text" (ngModelChange)="changeColor($event)" [(ngModel)]="colorHex" />
</label>
<label class="ml-3">
  Solid :
  <input type="checkbox" (ngModelChange)="changeIconsType($event)" [(ngModel)]="iconsType"  />
</label>
<label class="ml-3">
  Variations :
  None<input type="radio" (ngModelChange)="changeIconsVariation($event)" [(ngModel)]="iconsVariation" name="variations" value="" />
  Badge<input type="radio" (ngModelChange)="changeIconsVariation($event)" [(ngModel)]="iconsVariation" name="variations" value="badge" />
  Alert<input type="radio" (ngModelChange)="changeIconsVariation($event)" [(ngModel)]="iconsVariation" name="variations" value="alert" />
</label>
<br>
<div class="container-fluid p-0" *ngFor="let iconGroup of icons">

  <h4>{{iconGroup.gName | titlecase }} icon set :</h4>

  <div class="card-columns mb-3" *ngFor="let iconRow of iconGroup.rows">
      <div class="card text-center" *ngFor="let iconItem of iconRow">
        <div class="card-header">
          <p class="card-text">{{iconItem.name}}</p>
        </div>
        <div class="card-body">
          <clr-icon size="25" [ngClass]="classes" [ngStyle]="{fill: (iconsColor !== '') ? iconsColor : ''}"  [attr.shape]="iconItem.name"></clr-icon>
        </div>
    </div>
  </div>
  <br>
</div>
