.bg-color {
  width: 30px;
  height: 30px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #FFF;
  line-height: 30px;
}

input {
  width: 75px;
}

.card-columns {
  column-count: 6;
}
