<h2>Getting started with Ferui Icons</h2>

<p>The Ferui Icons library presents pixel-perfect, scalable SVG-based icons. This new icon system gives you complete
  control over icon color, orientation, and size. Additionally, you can access and customize any SVG graphic elements
  inside the icon through standard CSS.</p>

<p class="alert alert-primary">The Ferui icons library extends the amazing <a
  href="https://vmware.github.io/clarity/icons/clarity-icons" target="_blank">Clarity Icons</a> library. We only added more
  shapes to the library and we load only load the Clarity <span class="text-danger">core</span> set by default.</p>

<h4>Install and load Ferui Icons:</h4>

<p>Install the Ferui Icons package through npm:</p>
<pre>
  <code>
    npm install @ferui/icons --save
</code>
</pre>

<p>Install the polyfill for Custom Elements, on which Ferui Icons is dependent:</p>
<pre>
  <code>
    npm install @webcomponents/custom-elements@1.0.0 --save
  </code>
</pre>

<p>Load the library in your app by including <span class="text-danger">ferui-icons.min.css</span> and <span
  class="text-danger">ferui-icons.min.js</span>. Also, make sure to include <span
  class="text-danger">custom-elements.min.js</span>, the Custom Elements polyfill before <span class="text-danger">ferui-icons.min.js</span>:
</p>
<pre>
  <code>
    <!--CLARITY ICONS STYLE-->
    <link rel="stylesheet" href="path/to/node_modules/@ferui/icons/ferui-icons.min.css">

    <!--CLARITY ICONS DEPENDENCY: CUSTOM ELEMENTS POLYFILL-->
    <script src="path/to/node_modules/@webcomponents/custom-elements/custom-elements.min.js"></script>

    <!--CLARITY ICONS API & ALL ICON SETS-->
    <script src="path/to/node_modules/@ferui/icons/ferui-icons.min.js"></script>
</code>
</pre>
<p>That's it! As <span class="text-danger">ferui-icons.min.js</span> loads not only the Clarity Icons Api, but also all
  icons
  sets (including Ferui ones), you will have access to more than 100 different icons that have variants, orientations, and
  colors out of the box.
  You can now render any icon with <span class="text-danger">clr-icon</span> tag and specify your desired <span
    class="text-danger">shape</span> in its shape attribute.</p>

<h4>Load icon sets individually:</h4>

<p>If you want to use icons from few individual sets, you don't have to load all icons with <span class="text-danger">ferui-icons.min.js</span>. Instead, load
  the lighter version of Ferui Icons library with <span class="text-danger">ferui-icons-lite.min.js</span>, which loads only Clarity Icons Api and Core
  Shapes set. For example, if you want to use icons from only Social Shapes and Travel Shapes, you would load Clarity Icons
  this way:
</p>
<pre>
  <code>
    <!--CLARITY ICONS STYLE-->
    <link rel="stylesheet" href="path/to/node_modules/@clr/icons/clr-icons.min.css">

    <!--CLARITY ICONS DEPENDENCY: CUSTOM ELEMENTS POLYFILL-->
    <script src="path/to/node_modules/@webcomponents/custom-elements/custom-elements.min.js"></script>

    <!--CLARITY ICONS API & CORE SHAPES SET-->
    <script src="path/to/node_modules/@clr/icons/clr-icons-lite.min.js"></script>

    <!--ICON SETS-->
    <script src="path/to/node_modules/@clr/icons/shapes/social-shapes.min.js"></script>
    <script src="path/to/node_modules/@clr/icons/shapes/travel-shapes.min.js"></script>
  </code>
</pre>

<h4>Load Clarity Icons API and icon sets in Typescript:</h4>
<p>It's easy to load Clarity Icons API and icon sets in Typescript.</p>

<p class="alert alert-info">If you load the Clarity Icons in Typescript, make sure you are not loading it through the
  script tag again. Otherwise you will have two different instances of Clarity Icons that override one another.</p>

<p>For example:</p>
<pre>
  <code>
    import '@clr/icons';
    </code>
</pre>
<p>The example above is loading only Clarity Icons Api and Core Shapes set. You can load more icon sets on top of it as
  needed:</p>
<pre>
  <code>
    import '@clr/icons';
    import '@clr/icons/shapes/essential-shapes';
    import '@clr/icons/shapes/technology-shapes';
  </code>
</pre>
<p>And lastly, if you need to use shapes from all sets, you don't need to import and load every single icon set, because
  you have a shortcut for loading all sets:</p>
<pre>
  <code>
    import '@clr/icons';
    import '@clr/icons/shapes/all-shapes';
  </code>
</pre>

<h4>Optimize Clarity Icons in your application</h4>

<p>You can import each icon shapes as individual modules and add them to the Clarity Icons API. Leveraging this new method
  of importing icons with Tree-shaking process, you can make a significant optimization to the size of Clarity Icons in
  your application. For example, if you need to use car, pin, and star icons in an application, you can import and add them
  in the following way:</p>
<pre>
  <code>
    import { ClarityIcons } from "@clr/icons";
    import { ClrShapePin } from "@clr/icons/shapes/essential-shapes";
    import { ClrShapeStar } from "@clr/icons/shapes/social-shapes";
    import { ClrShapeCar } from "@clr/icons/shapes/travel-shapes";

    ClarityIcons.add({
    pin: ClrShapePin,
    star: ClrShapeStar,
    car: ClrShapeCar
    });
  </code>
</pre>
<p>You can see that each shape modules have "ClrShape" prefix in the example above. An important thing to note here is
  that, to take advantage of this new method, you should only load Clarity Icons by importing it from "@clr/icons" and make
  sure that you are not loading it via a script tag or in some other manner.</p>
