$clr-icon-size: 16px !default;
$clr-icon-color-success: #13CE66 !default;
$clr-icon-color-danger: #ED5151 !default;
$clr-icon-color-warning: #FADD56 !default;
$clr-icon-color-error: #ED5151 !default;
$clr-icon-color-info: #03A6FF !default;
$clr-icon-color-inverse: #ffffff !default;
$clr-icon-color-highlight: #0079b8 !default;
